body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 0 !important;
    overflow: overlay;
}

.nav, .footer {
    padding-right: 0 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.display-foto {
    height: 130px;
    width: 100%;
}
.item-foto {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.two-lines {
    display: -webkit-box;
    height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zoom {
    transition: all 0.2s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.full-height {
    padding-top: 7rem !important;
    padding-bottom: 4rem !important;
    min-height: 100vh;
}

.full-width {
    max-width: 1440px;
}

.come-from.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.come-from.right .modal-content {
    height: 100%;
    border-radius: 0px;
    border: 0px;
}
.come-from.right .modal-body {
    padding: 15px;
    overflow-y: auto;
}
.come-from.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
    overflow-y: initial !important;
}
.come-from.right.fade.show .modal-dialog {
    right: 0;
}

.btn-text-hitam {
    color: #212529 !important;
    border-color: #ced4da !important;
}
.btn-text-hitam:hover {
    color: #fff !important;
}

.display-keranjang {
    max-height: 87px;
    max-width: 87px;
}
.item-keranjang {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.desc-keranjang {
    width: calc(100% - 80px);
}

.keranjang-top {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 400px;
}

.keranjang-body {
    top: 71px;
    margin-bottom: 70px;
}

.list-keranjang {
    height: 120px;
}

.btn .badge {
    position: absolute !important;
    top: 12px !important;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    padding: 3px !important;
}

.Toastify__toast-container--top-right {
    top: 5em !important;
}

@media (max-width: 576px) {
    .come-from.right .modal-dialog {
        width: 100% !important;
    }
    .keranjang-top {
        width: 100%;
    }
}
