body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.foto-makanan {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.display-foto {
    height: 130px;
    width: 100%;
}

.one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.two-lines {
    display: -webkit-box;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zoom {
    transition: all 0.2s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.full-height {
    padding-top: 7rem !important;
    padding-bottom: 4rem !important;
    min-height: 100vh;
}

.full-width {
    max-width: 1440px;
}

.come-from.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
    border: 0px;
}

.come-from.right .modal-body {
    padding: 15px 15px 80px;
}

.come-from.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.come-from.right.fade.show .modal-dialog {
    right: 0;
}

@media (max-width: 576px) {
    .come-from.right .modal-dialog {
        width: 100% !important;
    }
}